<header>
  <input type="button" value="+ Add Department" [routerLink]="['/department/add']" class="btn">
</header>

<table class="table table-hover">
    <thead>
      <th>Name</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of departments">
        
        <td>{{item.Name}}</td>   
        <input type="button" value="Edit" [routerLink]="['/department/update', item.id]"x class="btn">       
        <td><a class="btn text-danger" (click)="onDelete(item.id)"><i class="fa fa-trash"></i></a></td>
      </tr>
    </tbody>
  </table>