<table class="table table-hover">
    <thead>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let item of students">
        
        <td>{{item.Name}}</td>
        <td>{{item.Age}}</td>
        <td>{{item.Address}}</td>   
        <input type="button" value="Edit" [routerLink]="['/student/update', item.id]"x class="btn">       
        <td><a class="btn text-danger" (click)="onDelete(item.id)"><i class="fa fa-trash"></i></a></td>
      </tr>
    </tbody>
  </table>